.card img{
    width: 100%;
    hight: 100%;
    object-fit: cover;
}

.company{
    width: auto;
    height: 25px;
}

footer,footer a{
    color: rgb(194, 193, 193) ;
    gap: 30px;
}
a:hover{
    color: white;
    transition: .5s;
}

